<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_area :name, placeholder: 'Enter activity here' %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date, id: 'js-startDate' %>
  </div>
  <div class="form-group">
    <%= f.submit 'CREATE', class: 'btn' %>
  </div>
<% end %>
