<div class="activity-header">
  <h1>Manage activities</h1>
  <%= link_to 'NEW ACTIVITY', '#', class: 'btn btn-right js-newActivity' %>
</div>

<div class="new-activity">
  <%= render 'form' %>
</div>

<ul class="activity-list">
  <% @activities.each do |activity| %>
  <li>
    <div class="activity-list--name"><%= markdown activity.name %></div>
    <small class="activity-list--date"><%= activity.start_date %></small>
    <span style="position:absolute;top:15px;right:15px;"><%= link_to 'delete', activity, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </li>
  <% end %>
</ul>
