<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @activity.goal.user.email %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @activity.goal.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Competence:</strong>
  <%= @activity.goal.competence.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @activity.start_date %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
